/* --- 760px --- */
@media (max-width: 760px) {
    /* -- Hero Section -- */
    .hero-section h1 {
        font-size: 3rem;
        left: 8vw;
        top: 25vw;
        max-width: 80%;
    }

    .hero-section p {
        top: 60vw;
        left: 8vw;
        font-size: 0.98rem;
    }

    .hero-section::after {
        top: 56vw;
        left: 8vw;
    }

    /* -- Seção Sobre -- */
    .about {
        height: auto;
        padding: 80px 20px;
    }

    .about h2 {
        font-size: 2rem;
        width: 100%;
        height: auto;
    }

    .about::after {
        top: 179px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* -- Seção Pontos do Jogo -- */
    .points-game {
        height: auto;
        padding: 80px 0;
    }
    
    .points-game h2 {
        font-size: 2rem;
    }

    .points-game::after {
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* -- Carrossel -- */
    .prev {
        left: 20px;
    }
    .next {
        right: 20px;
    }
    
    .carousel-container::before, 
    .carousel-container::after {
        width: 20%; /* Diminui o gradiente lateral */
    }

    /* -- Seção Download -- */
    .download {
        height: auto;
        padding: 100px 20px;
    }
}


/* --- 420px --- */
@media (max-width: 420px) {
    /* -- Navbar -- */
    .valorantlogo {
        width: 150px;
        height: auto;
    }

    /* -- Hero Section -- */
    .hero-section h1 {
        font-size: 3rem;
        top: 35vw;
    }
    .hero-section p {
        top: 100vw;
        font-size: 0.9rem;
    }
    .hero-section::after {
        top: 93vw;
    }

    /* -- Seção Sobre -- */
    .about h2 {
        font-size: 3rem;
    }
    .about::after {
        top: 250px;
    }

    /* -- Seção Pontos do Jogo -- */
    .points-game h2 {
        font-size: 3rem;
    }
    .points-game .col-12 {
        margin-bottom: 20px; /* Adiciona espaço entre os itens */
    }
    .points-game::after {
        top: 285px;
    }

    /* -- Carrossel -- */
    .prev {
        left: 10px;
    }
    .next {
        right: 10px;
    }

    #img { 
        width: 25px;
        height: 25px;
    }
    
    /* -- Footer -- */
    .footer-logo {
        width: 120px;
        height: auto;
    }
    
    .arrow {
        bottom: 15px;
    }
}